.banner {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    outline: none;
}

.slider {
    width: 968px;
    height: 288px;
    border-radius: 20px;
}

.slider-1 {
    background-color: #D9D9D9;
}

.slider-2 {
    background-color: #B6D4A8;
}